<h1>ロボットの詳細変更</h1>

<%= render 'form', listing: @listing %>

<%= link_to '詳細', @listing,class:"btn btn-success"  %> |
<%= link_to '戻る', listings_path,class:"btn btn-warning"  %>

<div style="margin-bottom: 150px;"></div>
